@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');


body { 
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
}

h1, h2  { 
  font-size: 22px;
  font-weight: bold;    
}

h3{
  font-size: 16px;
  font-weight: bold;
}

p{
  font-size: 16px;
  font-weight: normal;
}

a{
  text-decoration: none; 
  font-size: 16px;
  font-weight: normal;
}

a:link {
  color: #000000;
}

aside a:visited, #hebergement a:visited, #activites a:visited{
  text-decoration: none;
  color: #000000;
}

/* Header */
header{
  margin: 0 50px 35px;
}

/** Navigation bar**/
nav{
  display:flex;
  margin: 0;
  padding: 0;
}
.logo{
  width: 71%;
}

.logo img{
  padding-top: 30px;
}

.menuItem , .texteInscrire {
  padding-top: 40px;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: transparent;
  width: 135px;
  text-align: center;
  margin-left: auto;
  padding: 40px 10px 0;
}

nav .texteInscrire { 
  color: #0065FC;
  font-weight: bold;  
}

.menuItem:hover , .texteInscrire:hover{
  color: #0065FC;
  border-top-color: #0065FC;
}

/**Formulaire**/

form{
  display: flex;
  margin-top: 30px;
  position: relative;
}

.location{
  background-color: #E5E5E5;
  border-radius: 15px 0 0 15px;    
  text-align: center;
  min-width: 50px;  
  height: 50px;
  line-height: 50px;
}

.location i{ 
  font-size: 18px;   
}

 input, button{
  font-family: 'Raleway', sans-serif;  
  font-size: 18px;
  font-weight: 700;
}

.formInput{
  width: 320px;
  border: solid 2px #E5E5E5;
  padding-left: 15px;
}

form button{
  min-width: 50px;
  background-color: #0065FC;
  border-radius: 0 15px 15px 0; 
  border: none;
  color: #ffffff;  
  position: absolute;
  line-height: 48px;
  left: 290px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}

form button:hover{
  background-color: #075BD8;
}

i.fa-search{
  display: none;
}

/**Filtres**/

.filtres {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.filtres p{
  font-weight: bold;
}

.filtres button{
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 15px;
  background-color: transparent;
  border: solid 2px #E5E5E5;
  border-radius: 50px;
  height: 50px;
  padding-left: 60px;
  padding-right: 15px;
  cursor: pointer;
  position: relative;
}

.filtres button:hover{
  background-color: #F2F2F2;
}

.filtres button i {
  position: absolute;
  left: -1px;
  background-color: #DEEBFF;
  color: #0065FC;
  font-size: 18px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

i.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.plus {
  display: flex;
  align-items: center;
  text-align: left;
}

.plus i{
  min-width: 20px;
  height: 20px;
  border-radius: 20px;
  border: solid 1.5px #E5E5E5;
  font-size: 12px;
  color: #0065FC;
  margin-right: 10px;
}


/************Main section************/

/**Hebergements**/

main{
  margin-left: 50px;
  margin-right: 50px;
}

#hebergement{    
  display: flex;
}

#hebergement p {
  font-size: 14px;
}

/**Hebergements à Marseille**/

.sectionGauche {
  background-color: #F2F2F2;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  margin-right: 40px;
  width: 65%;
  padding: 40px 10px 20px;
}

.sectionGauche h2 {
  width: 93%;
  margin: 0;
}

.aficher {
  width: 90%;
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
}

.cardHebergement{
  background-color: #ffffff;
  border-radius: 25px;
  padding: 5px;
  width: 28%;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 4px 4px 10px 0 #D8DBDE;
}

.cardHebergement:hover{
  transform: translate(0px,-7px);
  transition: transform .5s;  
}

.cardHebergement img{ 
  width: 100%;
  height: 120px; 
  object-fit: cover;
  border-top-left-radius:20px; 
  border-top-right-radius:20px;
}

.cardHebergement h3, .cardHebergement p {
  margin-left: 15px;
  width: 100%;
}

.cardHebergement h3{
  margin-top: 8px;
  margin-bottom: 4px;
}

.cardHebergement p {
  margin-top: 4px;
  margin-bottom: 6px;
}

.cardHebergement i{
  color:#0065FC;
  font-size: 12px;
  margin-bottom: 8px;
}

.firstEtoile{
  margin-left: 15px;
}

i.etoileGrise{
  color: #E5E5E5;
}

/**Aside**/

aside{
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:start;
  width: 30%;
  padding: 35px 40px ;
  border-radius: 20px;
}

aside h2 {  
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cardAside{
  display: flex;
  background-color: #ffffff;
  width: 100%;
  min-width: 319px;
  height: 145px;
  padding: 5px;
  margin: 15px 0;
  border-radius: 25px;
  box-shadow: 4px 4px 10px 0 #D8DBDE; 
}

.cardAside:hover{
  transform: translate(0px,-7px);
  transition: transform .5s;  
}

.cardAside img{ 
  width: 145px;
  object-fit: cover;
  border-top-left-radius:20px; 
  border-bottom-left-radius:20px;
}

.textAside{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
}

.textAside h3, .textAside p{
  width: 100%;
  margin: 10px 8px 5px 15px;
}

.textAside i{
  font-size: 12px;
  color: #0065FC;
  margin-top: 40px;
}

.textAside .etoileGrise{
  color: #E5E5E5;
}

/**Activites**/

#activites{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  width: 100%;  
} 

#activites h2{
  width: 93%;
}

.cardVieux , .cardCalanque, .blocActivite {
  width: 23%;
}

#activites a{
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 4px 4px 10px 0 #D8DBDE;
}

#activites img{
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#activites h3{
  margin-left: 15px;
}

.cardVieux img , .cardCalanque img{
  width: 100%;
  height: 390px;
}

.blocActivite{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.cardFort{
  height: 240px;
  width: 100%;
}

.cardFort img{
  width: 100%;
  height: 180px;
}

.cardIles{
  width: 100%;
  height: 170px;  
}

.cardIles img{
  height: 110px;
  width: 100%;
}

.cardNotreDame{
  height: 200px;
  width: 100%;
}

.cardNotreDame img{
  height: 140px;
  width: 100%;
}

.cardLongchamp{
  height: 210px;
  width: 100%;
}

.cardLongchamp img{
  height: 151px;
  width: 100%;
}

/**Footer**/

footer{
  background-color:#F2F2F2;
  display: flex;
  margin-top: 35px;
  padding: 30px 50px; 
}

 .blocFooter, .blocFooter2{
  display: flex;
  flex-direction: column;
 }

 .blocFooter{
  margin-right: 19%;
 }

footer h3{
  font-size: 18px;
  font-weight: bold;
}

footer a{
  margin-bottom: 10px; 
}

/**************************Responsive large devices**************************/


@media screen and  (max-width: 1080px) {
  #hebergement{
    flex-direction: column;  
  }

  aside{
    order: -1;
    width: 100%;
    padding: 20px 0;
    align-items: center;
  }

  .cardAside{
    width: 60%;
    height: 200px;
  }
  
  .sectionGauche{
    width: 100%;
    margin: 20px 0 ;
    padding: 20px 0 10px 0;
  }

  aside h2 , .cardAside {
    width: 80%;
  }

  .cardAside img{ 
    width: 220px;
  }

} 

/***************************Responsive tablet**************************/


@media screen and (max-width: 768px){

  nav{
    flex-wrap: wrap;
  }

  .logo{
    width: 100%;
  }

  .texteInscrire, .menuItem{
    width: 33%;
    border-top-style: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: transparent;
    padding: 30px 0 ;
  }

  .texteInscrire:hover, .menuItem:hover{
    border-bottom-color:#0065FC ;
  }

  .sectionGauche h2{
    width: 90%;
  }

  .sectionGauche{
    padding: 20px 0;
  }
  
  .cardHebergement{
    width: 40%;
  }

  .cardVieux , .cardCalanque, .blocActivite {
    width: 40%;
    margin: 15px;
  }

  footer{
    margin: 20px 0 0;
    padding:0;
  }

  .blocFooter, .blocFooter2{
    margin:20px;
  }

}


/***************************Responsive movil**************************/

@media screen and (max-width: 480px) { 
  header{
    margin: 30px 25px;
  }

  .filtres p{
    width: 100%;
  }
  
  .logo{
    width: 50%;
  }

  .logo img{
    padding:0;
  }

  .texteInscrire {
    padding: 16px 0 0 0;
    text-align: right;
  }

  .menuItem {
    padding: 10px 0;
    text-align: center;
    margin: 10px 0 0;
  }

  .texteInscrire, .menuItem{
    width: 50%;
  }
  
  nav :nth-child(1) {order: 1; }

  nav :nth-child(2) {order: 3; }

  nav :nth-child(3) {order: 4; }

  nav :nth-child(4) {order: 2; }


  h1,header p {
    text-align: center;
  }

  .menuItem{
    border-bottom-color:#F2F2F2;
  }


  /* form */

  .formInput{
    width: 200px;
  }
  
  form button{
    width: 50px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    left: 230px;
  } 

  i.fa-search{
    display: inline-block;
  }
  
  form span{
    display: none;
  }

  /* filtres */

  .filtres{
    margin-top: 20px;
  }
  .filtres p{
    text-align: start;
  }
  
  .filtres button{
    margin-left: 5px;
  }

  button{
    font-size: 16px;
  }

  .plus {
    align-items: flex-start;
  }

  /* Main*/

  main{
    margin:0;
  }

  aside{
    border-radius: 0;
    padding: 0 0 20px;
  }

  .cardAside{
    height: 150px;
    width: 90%;
    margin: 8px 0;
  }

  .cardAside img{ 
    width: 145px;
  }

  .sectionGauche{
    padding: 10px 0;
    background-color: transparent;
    justify-items: center;
  }

  .cardHebergement{
    width: 90%;
    margin: 8px 0;
  }

  /* Activités*/
  
  #activites{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  #activites h2{
    width: 90%;
  }

  .cardVieux, .blocActivite, .cardCalanque{
    width: 90%;
    margin:6px;
  }

  a{
    margin: 8px 0;
  }

  #activites img{
    height: 150px;
  }

  #activites a{
    height: 200px;
  }


  /* Footer*/
   footer{
    flex-direction: column;
    width: 100%;
  }

  .blocFooter, .blocFooter2{
    line-height: 12px;
    padding: 10px;
    margin:10px 15px 10px;
  }

}





 


